* {
    box-sizing: border-box;
}

/* START HEADER */
.title h1 {
    margin: auto;
    font-size: 40px;
}

.title {
    display: flex;
}

.title img {
    height: 150px;
}


/* HAMBURGER MENU */

nav {
    background-color: red;
    overflow: hidden;
}

/* muisaanwijzer instellen */
nav img#hamburger-icon {
    cursor: pointer;
}

/* default verbergen we het menu */
nav ul {
    display: none;
    text-align: center;
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 15px 17px;
    font-size: 25px;
}

nav a:hover {
    text-decoration: underline;
}

nav a.active {
    text-decoration: underline;
    font-weight: bold;
}

/* als de checkbox checked is geven we het menu
  terug weer */
nav #menu-checkbox:checked~ul {
    display: block;
}

/* checkbox moet niet zichtbaar zijn */
nav #menu-checkbox {
    display: none;
}

/* we plaatsen een 'break point" bij 576px */
@media screen and (min-width: 576px) {

    /* in desktop view is het horizontaal menu altijd zichtbaar */
    nav ul {
        display: block;
    }

    /* in desktop view plaatsen we de menu-items naast elkaar
    en passen de witruimte aan */
    nav li {
        display: inline-block;
        padding: 0 7px;
    }

    /* in desktop view verbergen we het label dat het hamburger-icon bevat */
    nav label[for='menu-checkbox'] {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    #logoRight {
        display: none;
    }
}

/* END HEADER */

/* START BODY */
body {
    margin: 0;
}

main {
    margin: 15px;
    text-align: center;
    max-width: screen;
}

select option,
select optgroup {
    text-align: center;
}

main img {
    
}

main div {
    margin-top: 15px;
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
}

#grid-container img {
    width: 450px;
    height: 350px;
    border: 1px solid black;
    max-width: 100%;
}

/* END BODY */

/* START FOOTER */
footer {
    position: absolute;
    /* bottom: 0; */
    left: 0;
    width: 100%;
    text-align: center;
    overflow: hidden;
    background-color: red;
    color: white;
}


/* END FOOTER */